.up-header {
  background-color: #b4b3b1;
  opacity: 0.8;

}
.up-header-item {
  display: flex;
  justify-content: space-evenly;
}
.up-header-item strong {
  color: #632407;
}
.left-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-item strong {
  background-color: rgb(168, 165, 163);
  
  border-radius: 30px;
}
.fa-chevron-right {
  font-size: 20px;
}
